body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}


/* Poliklinik CRUD */
#table-section {
  padding-top: 0px;
}

#create-pasien {
  padding-top: 0px;
}

#table-section .container thead {
  background-color: #0f8fdd;
  font-size: 16px;
}

#table-section .container tbody {
  font-size: 15px;
}

#table-section .container .tombol {
  margin-left: 620px;
}

.table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
}

#create-pasien .container {
  width: 500px;
}